/*Selectores de etiqueta*/

h1,h2 
{
    color:red;
}
h1
{
    font-size:30px; /*es para el tamaño de la fuente*/
}

/*Selectores descendentes*/

p a /*esto me dice que todos los "a" dentro de p cambie el tamaño de letra y el color*/
{       
    font-size:30px;
    color:red;
}
p .green
{
    color: aqua;
    font-size: 40px;

}
p span .yellow
{
    color:yellow;
}
.blue
{
    font-size: 30px;
    color:blue;
}


/*Unidades de medida*/
/*Existe dos absoluta y relativa*/
/*Absoluta nos permite establecer un valor fijo que no se modifique para nada 
relativa son medidas flexives porque se adaptan facilmente a nuestro trabajo*/
body 
{
    font-size: 16px;
}
p
{
    font-size: 1em; /*"1em" equivale a 16 pixeles
                    tambien existe el "rem"*/
}
div
{
    font-size: 20px;
    background: #000; /*este es el color del fondo*/
    color:#fff; /*este es el color de las letras*/
}
div p
{
    font-size: 1em; /*Con el "em" tomamos el tamaño de fuente del padre mas cercano en este caso el padre mas cercano es el div osea una fuente de 20px si no estuviera el div tomaria el valor del body que son 16px*/
    
} 